.remoteUiGroupItems
{
    margin-left: 5px;
}

.remoteUiObject
{
    padding: 10px;
    border: 1px dashed #909090;
}

.remoteUiListItem
{
    margin: 3px;
    width: 100%;
    transform-style: preserve-3d;
}

.remoteUiListItemHelper
{
    z-index: 10000;
}

.remoteUiListItemRemove
{
    width: 1%;
    white-space: nowrap;
    height: 100%;
    vertical-align: top;
}

.remoteUiListItemHandle
{
    height: 100%;
    width: 30px;
    background: repeating-linear-gradient(

            #909090,
            #909090 1px,
            transparent 1px,
            transparent 4px
    );
}

.remoteUiDescription
{
    color: #909090;
    font-weight: bold;
    font-size: smaller;
    white-space: pre;
}

.remoteUiEditor label
{
    margin-bottom: 0px;
    margin-top: 3px;
    font-weight: bold;
}

.remoteUiEditor input
{
    margin-top: 3px;
}

.remoteUiNullableAddContainer
{
    cursor: pointer;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    background-color: #bfbfbf;
}

label.remoteUiError
{
    color: #b00000;
}

.remoteUiErrorString
{
    color: #a03030;
}